@using Application.Contracts
@using Application.Dto
@using Application.Interfaces
@using Domain.Models
@using EmployeeScheduler.Enums
@using Application.Services
@inject IUpdateShiftUseCase UpdateShiftUseCase
@inject IDeleteShiftUseCase DeleteShiftUseCase
@inject IJSRuntime JSRuntime
@inject IShiftValidationService ShiftValidationService

@code {
	[Parameter] public ModalType ModalType { get; set; }
	[Parameter] public ShiftDto SelectedShift { get; set; }
	[Parameter] public EmployeeDto SelectedEmployee { get; set; }
	[Parameter] public string EmployeeName { get; set; }
	[Parameter] public EventCallback<ModalType> OnClose { get; set; }
	[Parameter] public EventCallback<bool> DataChanged { get; set; }


	private List<Role> roles;
	private int selectedRoleId;
	private DateTime _startTime;
	private DateTime _endTime;

	public DateTime StartTime
	{
		get => _startTime;
		set
		{
			_startTime = _startTime.Date + value.TimeOfDay;
		}
	}

	public DateTime EndTime
	{
		get => _endTime;
		set
		{
			_endTime = _endTime.Date + value.TimeOfDay;
		}
	}

	protected override void OnInitialized()
	{
		roles = SelectedEmployee.Roles;
		selectedRoleId = SelectedShift.RoleId;
		_startTime = SelectedShift.Date + SelectedShift.StartTime;
		_endTime = SelectedShift.Date + SelectedShift.EndTime;
	}


	private void CloseModal()
	{
		OnClose.InvokeAsync(ModalType);
	}

	private async Task SaveShift()
	{
		List<ShiftDto> existingDayShifts = SelectedEmployee.Shifts.Where(x => x.Date == SelectedShift.Date && x.Id != SelectedShift.Id).ToList();
		ValidationResult validationResult = await ShiftValidationService.ShiftIsValid(StartTime.TimeOfDay, EndTime.TimeOfDay, SelectedShift.EmployeeId, selectedRoleId, existingDayShifts);

		if (validationResult.IsValid)
		{
			await UpdateShiftUseCase.ExecuteAsync(new ShiftDto() { Date = SelectedShift.Date, StartTime = StartTime.TimeOfDay, EndTime = EndTime.TimeOfDay, EmployeeId = SelectedEmployee.Id, RoleId = selectedRoleId, Id = SelectedShift.Id });
			CloseModal();
			await DataChanged.InvokeAsync(true);
		}
		else
		{
			await JSRuntime.InvokeVoidAsync("alert", String.Join("\n", validationResult.Errors));
		}
	}

	private async Task DeleteShift()
	{
		await DeleteShiftUseCase.ExecuteAsync(new ShiftDto() { Date = SelectedShift.Date, StartTime = StartTime.TimeOfDay, EndTime = EndTime.TimeOfDay, EmployeeId = SelectedEmployee.Id, RoleId = selectedRoleId, Id = SelectedShift.Id });
		CloseModal();
		await DataChanged.InvokeAsync(true);
	}
}

<div class="modal-backdrop fade show"></div>
<div class="modal fade show" style="display: block;" tabindex="-1" role="dialog" aria-labelledby="editShiftLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editShiftLabel">Edit Shift</h5>
				<button type="button" class="close" @onclick="CloseModal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>@SelectedEmployee.Name's Shift</h5>
				<div class="form-group">
					<label for="roleSelect">Role</label>
					<select class="form-control" @bind="selectedRoleId" id="roleSelect">
						<option value="">Select Role</option>
						@foreach (var role in roles)
						{
							<option value="@role.Id">@role.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label for="startTime">Start Time</label>
					<InputDate Type="InputDateType.Time" id="date" @bind-Value="StartTime" class="form-control" />
				</div>

				<div class="form-group">
					<label for="endTime">End Time</label>
					<InputDate Type="InputDateType.Time" id="date" @bind-Value="EndTime" class="form-control" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="DeleteShift">Delete</button>
				<button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
				<button type="button" class="btn btn-primary" @onclick="SaveShift">Save</button>
			</div>
		</div>
	</div>
</div>
